<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link rel="stylesheet" href="/css/style_1.css">
    
</head>

<body>
    <nav class="navbar">
        <div class="nav-left">
            <div class="logo">Alpha Store</div>
            <ul class="nav-links">
                <li><a href="#">Men</a></li>
                <li><a href="#">Women</a></li>
                <li><a href="#">Kids</a></li>
                <li><a href="#">Tech</a></li>
                <li><a href="#">New Arrivals</a></li>
            </ul>
        </div>

        <div class="nav-right">
            <a href="#" class="nav-link-secondary">About Us</a>
            <a href="contactUs.html" class="nav-link-secondary">Contact Us</a>
            <span class="price">$0.00</span>
            <div class="cart-container">
                <i class="fas fa-shopping-bag"></i>
                <span class="cart-count">0</span>
            </div>

            <a href="signUp.html" id="user_icon" class="user-icon" aria-label="Sign up / log in">
                <i class="fas fa-user"></i>
            </a>
        </div>
    </nav>
</body>

</html>