@import url("https://fonts.googleapis.com/css2?family=Open+Sans:wght@300;500&display=swap");

@import url("https://fonts.googleapis.com/css2?family=Material+Symbols+Outlined:opsz,wght,FILL,GRAD@20..48,100..700,0..1,-50..200");

html {
	font-family: "Open Sans", sans-serif;
	font-weight: 300;
	min-height: 100vh;
	width: 100vw;
	font-size: 16px;
	box-sizing: border-box;
	* {
		box-sizing: inherit;
	}
}

body {
	display: flex;
	flex-direction: column;
	flex: 0 0 100%;
	margin: 0;
	background: #f5f5f5;
	align-items: center;
	justify-content: flex-start;
	padding: 0 1.5rem;
}

.filters,
.products {
	width: 1100px;
	max-width: 100%;
}

.filters {
	display: flex;
	flex-wrap: wrap;
	justify-content: center;
	gap: 1rem;
	margin: 0 auto;
	padding: 2rem 0;
	background: #f5f5f5;
	position: sticky;
	top: 0;
	z-index: 2;
	&::before {
		content: "";
		position: absolute;
		top: 0;
		left: 50%;
		bottom: 0;
		transform: translateX(-50%);
		width: 100vw;
		background: inherit;
		z-index: -1;
	}
}

.filter {
	all: unset;
	appearence: none;
	cursor: pointer;
	color: #222;
	opacity: 0.35;
	font-weight: 500;
	transition: 0.2s ease;

	&:hover,
	&:focus {
		opacity: 0.7;
	}

	&.is-active {
		opacity: 1;
	}
}

.products {
	display: grid;
	grid-template-columns: repeat(auto-fill, minmax(175px, 1fr));
	grid-auto-rows: auto;
	gap: 1.5rem;
	position: relative;
	margin: 2rem auto;
	padding: 0;
	will-change: height;
}

.product {
	overflow: hidden;
	position: relative;
	text-decoration: none;

	will-change: opacity, visibility, transform;
	transition-property: opacity, visibility;
	transition-duration: 350ms;
	transition-timing-function: ease;

	&:hover,
	&:focus {
		outline: none;
		text-decoration: none;
		.product__image-inner {
			transform: scale(1.1, 1.1);
			filter: grayscale(0);
		}
	}

	&.is-hidden {
		position: absolute;
		visibility: hidden;
		opacity: 0;
	}

	&__inner {
		display: flex;
		flex-direction: column;
		align-items: flex-start;
		gap: 0.5rem;
		color: #222;
		will-change: transform;
	}

	&__image {
		position: relative;
		margin-bottom: 0.5rem;
		overflow: hidden;
		width: 100%;
		aspect-ratio: 1 / 1;
	}

	&__image-inner {
		position: absolute;
		top: 0;
		left: 0;
		height: 100%;
		width: 100%;
		object-fit: cover;
		object-position: 50% 50%;
		filter: grayscale(0.7);
		transition: 0.2s ease;
	}

	&__name {
		font-size: 1.125rem;
		font-weight: 500;
		margin: 0;
		line-height: 1;
	}

	&__rating {
		display: flex;
		line-height: 1;
		font-size: 1.5rem;
		font-family: "Material Symbols Outlined";
		font-variation-settings: "FILL" 0, "wght" 100, "GRAD" 200, "opsz" 48;
		span {
			display: contents;
			&::before {
				content: "star";
				color: #787878;
			}
		}

		@for $i from 1 through 5 {
			&[value="#{$i}"] {
				span:nth-child(#{$i}) ~ span::before {
					opacity: 0.25;
				}
			}
		}
	}

	&__price {
		margin: 0;
		font-weight: 500;
	}
}

.other {
	padding: 8rem 3rem;
	background: #dfdfdf;
	width: 100%;
}
